*, ::before, *::after {
  
  margin :0;
  padding :0;
  box-sizing :border-box ;
}


body {
    font-size: 15pt;
    width:min(100%,480px);
    margin :0 auto 0 ;
    font-family: Arial, Helvetica, sans-serif;;
}


.firstEmo{
  margin: 5px auto 0 ;
  width: 5rem;
  height: 5rem ;
  border :1px solid #F1F1F1;
  box-shadow :0 0 7px rgba(3,3,3,0.4);
  display :grid ;
  place-items :center ;
  border-radius :50%;
  font-size :1.5em ;
  text-align :center ;
    transition :background-color 0.2s ease-out ;
}


.firstEmo.match{
  background-color :rgba(5, 185, 0, 1);
    transition :background-color 0.2s ease-in ;

}

.firstEmo.nomatch{
  background-color :rgba(248, 18, 57,4) ;
    transition :background-color 0.2s ease-out ;

}

.container {
  
  width: 100%;
  display :grid ;
  display: flex;
  flex-wrap :wrap ;
  justify-content :center ;
  margin :10% auto 0;
  padding :0.7em;
  gap: 0.5em;
}

.container  div {
  
  border :1px solid rgba(183,185,190,0.4) ;
  height :5em;
  width: 48%;
  display :grid ;
  place-items :center ;
  border-radius :0.7em;
  font-size :1.5em ;
}


.feedback {
  
  width : 100%;
  text-align :center ;
  margin :4% auto 0 ;
}

.feedback p {
  font-weight :700;
  font-size :1.1em ;
}


.gameState {
  
  width: 100%;
  text-align :center ;
  margin :4% auto 0 ;
    
}

.gameState span {
  
  font-weight :600 ;
  margin: 0 0.3em;
  text-transform :capitalize ;
}